<!DOCTYPE html>
<html lang="en">
<head>
    <title>REXFM — 24/7 RADIO</title>
<link rel="stylesheet" href="style.css">    
<link rel="shortcut icon" href="images/icon-new.png"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.css"
          integrity="sha512-jrLDXl9jUPe5DT19ukacvpX39XiErIBZxiaVMDFRe+OAKoBVYO126Dt7cvhMJ3Fja963lboD9DH+ev/2vbEnMw=="
          crossorigin="anonymous"/>
</head>
<body style="background-attachment: fixed; background-position-x: 50%; background-position-y: 0; background-size: cover; background-image: url('images/bg_main.jpg');">
<body onmousedown="return false" onselectstart="return false">
<br>
        <img id="ost_image" class="mx-auto d-block"
        style="max-height: 170px;" alt="album cover"
        src="images/logo.png"/>
</div>
<div style="font-family:rfm_light;font-size: 140%;text-align: center;color: rgb(0, 0, 0)">Nonstop Music Channels!</div>
<br>

<br>
<div style="font-family:rfm_black;font-size: 225%;text-align: center;color: rgb(0, 0, 0)">STATIONS</div>
<br>
<div class="container mx-auto">
        <div onclick="window.location.href='hits';" class="channel-boxes-2 mx-auto shadow" style="background-image: linear-gradient(to right, #1ec61b, #1bc68f);">
                <div style="line-height: 1;padding-top: 5px;font-family:rfm_black;font-size: 175%;color:rgb(255, 255, 255)">#HITS</div>
<script type="text/javascript" src="//api.laut.fm/js_tools/lautfm_js_tools.0.10.0.js.min.js" ></script>
<div id="api_lfm_current_song1_1" class="artist-text">Loading...</div>
<script type="text/html" id="current_song_template1_1" charset="utf-8">
<%= "" + this.artist.name + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('radiooneu') 
.current_song({container:'api_lfm_current_song1_1', template:'current_song_template1_1'}, true); </script>
</script>
<div id="api_lfm_current_song1_2" class="title-text">Loading...</div>
<script type="text/html" id="current_song_template1_2" charset="utf-8">
<%= "" + this.title + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('radiooneu') 
.current_song({container:'api_lfm_current_song1_2', template:'current_song_template1_2'}, true); </script>
</script>
        </div>
    </div>
</div>
<br>

<div class="container mx-auto">
        <div onclick="window.location.href='rap';" class="channel-boxes-2 mx-auto shadow" style="background-image: linear-gradient(90deg, #ff0000, #d31b04)">
                <div style="line-height: 1;padding-top: 5px;font-family:rfm_black;font-size: 175%;color:rgb(255, 255, 255)">#RAP</div>
<script type="text/javascript" src="//api.laut.fm/js_tools/lautfm_js_tools.0.10.0.js.min.js" ></script>
<div id="api_lfm_current_song5_1" class="artist-text">Loading...</div>
<script type="text/html" id="current_song_template5_1" charset="utf-8">
<%= "" + this.artist.name + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('rap-royale-fm') 
.current_song({container:'api_lfm_current_song5_1', template:'current_song_template5_1'}, true); </script>
</script>
<div id="api_lfm_current_song5_2" class="title-text">Loading...</div>
<script type="text/html" id="current_song_template5_2" charset="utf-8">
<%= "" + this.title + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('rap-royale-fm') 
.current_song({container:'api_lfm_current_song5_2', template:'current_song_template5_2'}, true); </script>
</script>
        </div>
    </div>
</div>
<br>

<div class="container mx-auto">
        <div onclick="window.location.href='dance.html';" class="channel-boxes-2 mx-auto shadow" style="background-image: linear-gradient(to right, #90f, #ba54ff);">
                <div style="line-height: 1;padding-top: 5px;font-family:rfm_black;font-size: 175%;color:rgb(255, 255, 255)">#DANCE</div>
<script type="text/javascript" src="//api.laut.fm/js_tools/lautfm_js_tools.0.10.0.js.min.js" ></script>
<div id="api_lfm_current_song2_1" class="artist-text">Loading...</div>
<script type="text/html" id="current_song_template2_1" charset="utf-8">
<%= "" + this.artist.name + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('radio-dance-eu') 
.current_song({container:'api_lfm_current_song2_1', template:'current_song_template2_1'}, true); </script>
</script>
<div id="api_lfm_current_song2_2" class="title-text">Loading...</div>
<script type="text/html" id="current_song_template2_2" charset="utf-8">
<%= "" + this.title + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('radio-dance-eu') 
.current_song({container:'api_lfm_current_song2_2', template:'current_song_template2_2'}, true); </script>
</script>
        </div>
    </div>
</div>
<br>

<div class="container mx-auto">
        <div onclick="window.location.href='bass';" class="channel-boxes-2 mx-auto shadow" style="background: linear-gradient(to right, #3e3e3e 0%, #282828 100%);">
                <div style="line-height: 1;padding-top: 5px;font-family:rfm_black;font-size: 175%;color:rgb(255, 255, 255)">#BASS</div>
<script type="text/javascript" src="//api.laut.fm/js_tools/lautfm_js_tools.0.10.0.js.min.js" ></script>
<div id="api_lfm_current_song3_1" class="artist-text">Loading...</div>
<script type="text/html" id="current_song_template3_1" charset="utf-8">
<%= "" + this.artist.name + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('bass-base') 
.current_song({container:'api_lfm_current_song3_1', template:'current_song_template3_1'}, true); </script>
</script>
<div id="api_lfm_current_song3_2" class="title-text">Loading...</div>
<script type="text/html" id="current_song_template3_2" charset="utf-8">
<%= "" + this.title + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('bass-base') 
.current_song({container:'api_lfm_current_song3_2', template:'current_song_template3_2'}, true); </script>
</script>
        </div>
    </div>
</div>
<br>

<div class="container mx-auto">
        <div onclick="window.location.href='partyhard';" class="channel-boxes-2 mx-auto shadow" style="background-image: linear-gradient(to right, #d4af37, #c2a02f);">
                <div style="line-height: 1;padding-top: 5px;font-family:rfm_black;font-size: 175%;color:rgb(255, 255, 255)">#PARTYHARD</div>
<script type="text/javascript" src="//api.laut.fm/js_tools/lautfm_js_tools.0.10.0.js.min.js" ></script>
<div id="api_lfm_current_song4_1" class="artist-text">Loading...</div>
<script type="text/html" id="current_song_template4_1" charset="utf-8">
<%= "" + this.artist.name + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('trashpop') 
.current_song({container:'api_lfm_current_song4_1', template:'current_song_template4_1'}, true); </script>
</script>
<div id="api_lfm_current_song4_2" class="title-text">Loading...</div>
<script type="text/html" id="current_song_template4_2" charset="utf-8">
<%= "" + this.title + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('trashpop') 
.current_song({container:'api_lfm_current_song4_2', template:'current_song_template4_2'}, true); </script>
</script>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>		
<div style="font-family:rfm_black;font-size: 200%;text-align: center;color: rgb(0, 0, 0)">SOCIAL</div>

<p class="aligncenter">                                          
<a href="https://www.instagram.com/rexfm_official/" target="_blank">
<img src="images/ig.png" alt="IG1" width="150" height="150">
<a href="https://www.facebook.com/rexfm.official" target="_blank">
        <img src="images/fb.png" alt="IG1" width="150" height="150">
</a>
</p>
</div>
<p class="aligncenter">  
<a href="https://www.toplist.cz"><script language="JavaScript" type="text/javascript" charset="utf-8">
        
        document.write('<img src="https://toplist.cz/count.asp?id=1806665&logo=mc&http='+
        encodeURIComponent(document.referrer)+'&t='+encodeURIComponent(document.title)+'&l='+encodeURIComponent(document.URL)+
        '&wi='+encodeURIComponent(window.screen.width)+'&he='+encodeURIComponent(window.screen.height)+'&cd='+
        encodeURIComponent(window.screen.colorDepth)+'" width="88" height="60" border=0 alt="TOPlist" />');
        //--></script><noscript><img src="https://toplist.cz/count.asp?id=1806665&logo=mc&njs=1" border="0"
        alt="TOPlist" width="88" height="60" /></noscript></a>
</p>
<br>
<br>
<br>
<br>
<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
        integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"
        integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.polyfilled.min.js"
        integrity="sha512-7kq7qBtasB6e1rth7fGAVQI6HvobtSHWKqIjsEr+21l2spvu8ZRXvRukXPTEPrExSDXpUHI5FH6xlgGZNNCgeQ=="
        crossorigin="anonymous"></script>
<script src="./app.js"></script>
</body>
</html>
